<!DOCTYPE html>

    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    
    {% load staticfiles %}

    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}"> 

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <meta property="fb:app_id" content="883223215071316" />

    <meta property="og:url" content="http://tabiku.com"/>
    
    <meta property="og:title" content="Tabiku - Travels for all" />
    
    <meta property="og:description" content="Tabiku is website that allows people traveling with minimum costs" />
    <meta property="og:image" content="http://tabiku.com/static/img/logo-big.png" />

    <meta property="og:type" content="website">

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    </head>

    <body>

        <img src="" id="bg" alt="">

        <div class="product">

            <div class="name"> 
                Tabiku 
            </div>

        </div>

        <div id="main">

            <div class="description">

            Discover the wonderful world travel. Meeting with people in all world. And traveling with minimal costs. 

            </br>
            </br>

            Tabiku will available only by invitations therefore you do not forget point your email to get a invitation and become one of the first users.

            </div> 

            <div class="sub_div">

                <div class="starting">
                    We will start through:
                </div>

                <div id="clock"> </div>

                <div class="subscribe">

                {% autoescape on %}

                    <form action="/subscribe" method="post" id="subscribeForm" role="form">

                        {% csrf_token %}

                        <input class="textbox" id="id_email" name="email" placeholder="Your email" />

                        <input type="submit" value="Submit" class="css_button_4" />
                    
                    </form>

                 {% endautoescape %}

                </div>

            </div>

        </div>

        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{% static 'jquery.countdown.min.js' %}"></script>
    <script src="{% static 'bg.js' %}"></script>

        <script>

        $(window).load(function() {  

            //var sixMonths = new Date(new Date().valueOf() + 6 * 30 * 24 * 60 * 60 * 1000);
            var sixMonths   = new Date('06 18 2015 17:00:00 GMT+01000') 

            $('#clock').countdown(sixMonths).on('update.countdown', function(event) {
                var $this = $(this).html(event.strftime(''
                  + '<span class="clock">%-D</span> '
                  + '<span class="clock">:</span>'


                  + '<span class="clock">%H</span>'
                  + '<span class="clock">:</span>'

                  + '<span class="clock">%M</span>'
                  + '<span class="clock">:</span>'

                  + '<span class="clock">%S</span>'
                ));

                'days. hr, min, sec'
            });

        });

        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-62067316-3', 'auto');
          ga('send', 'pageview');

        </script>


    </body>
</html>