<!DOCTYPE html>

    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--
    <link rel="shortcut icon" href="../favicon.ico"> 
    -->

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <meta property="fb:app_id" content="883223215071316" />

    <meta property="og:url" content="http://tabiku.com"/>
    
    <meta property="og:title" content="When Great Minds Don’t Think Alike" />
    
    <meta property="og:description" content="How much does culture influence creative thinking?" />
    <meta property="og:image" content="http://tabiku.com/static/img/bg480.jpg" />

    <meta property="og:type" content="article">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script src="{% static 'bg.js' %}"></script>
    <script src="{% static 'popup.js' %}"></script>

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<link href='http://fonts.googleapis.com/css?family=PT+Sans%3Aregular%2Citalic%2C700%7CRoboto+Slab%3Aregular%2C700&subset=latin%2Ccyrillic&ver=1.3.2' rel='stylesheet' type='text/css' />



    </head>

<body>

    <div class="overlay"></div>

      <img src="" id="bg" alt="">

      <div class="popup"> 

        <div class="top-popup">
          <h1> Thank you! </h1>
        </div>

        <div class="centr-thanks">

        <div class="desc-share">

          <h2> Sharing with friends and increase your chance take invite!</h2>
          
        </div>

        <div class="socials">

          {% load staticfiles %}

          <img src="{% static 'img/twitter.png' %}" data-href="https://twitter.com/intent/tweet?hashtags=hashtag&text=Testasa"/>

          <!--  
          data-href="https://www.facebook.com/sharer/sharer.php?u=tabiku.com"
          -->

          <img src="{% static 'img/facebook.png' %}" data-href="https://www.facebook.com/dialog/share?app_id=883223215071316&display=popup&href=http://tabiku.com&redirect_uri=http://tabiku.com"/>   

          <img src="{% static 'img/google.png' %}" data-href="https://plus.google.com/share?url=facebook.com"/>     

        </div>

      </div>

      </div>

      <script type="text/javascript">

        $(window).load(function() { 

          $('.socials img').click(function() {

            var features, w = 500, h = 500;
            var top = (screen.height - h)/2, left = (screen.width - w)/2;
            if(top < 0) top = 0;
            if(left < 0) left = 0;
            features = 'top=' + top + ',left=' +left;
            features += ',height=' + h + ',width=' + w + ',resizable=no';

            href = $(this).attr('data-href');
            target = $(this).attr('target');

            window.open(href, target, features);
            return false;

          });

        });

      </script>

</body>
</html>